* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid green; */
}

.header {
  background-color: #1f2937;
  width: 100%;
  /* height: 60px; */
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.main {
  /* display: flex; */
  background-color: #1f2937;
  width: 100%;
  padding-bottom: 200px;
}

.main > div {
  color: white;
  margin-left: 300px;
  padding-top: 60px;
  width: 100%;
  display: flex;
}

.color-theory-image {
  width: 40%;
  margin-left: 300px;
}

.main-heading {
  font-size: 48px;
  font-weight: bolder;
  padding-top: 8px;
  color: #f9faf8;
}

.main-text {
  font-size: 18px;
  line-height: 140%;
  padding-top: 8px;
  color: #e5e7eb;
}

.logo {
  width: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 300px;
}

.logo-text {
  color: #f9faf8;
  font-size: 24px;
  padding: 0 8px;
  font-weight: 700;
}

.header > div {
  margin-left: auto;
  margin-right: 300px;
}

.header > div > a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: x-large;
  padding: 0 40px;
}

.main > div {
  align-items: center;
}

.main-box {
  width: 500px;
}

.main-box-sign-up {
  border: none;
  color: white;
  background-color: #3882f6;
  margin-top: 20px;
  padding: 12px 50px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.information-heading {
  text-align: center;
  padding: 80px 0;
  font-weight: bolder;
  font-size: 30px;
}

.information-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 80px;
}

.information-images > img {
  border: #3882f6 solid 6px;
  border-radius: 12px;
  width: 250px;
}

.information-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  margin-top: 20px;
  margin-bottom: 200px;
  text-align: center;
  font-weight: bold;
  color: #60656b;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  margin: 0 300px;
  padding: 200px 0;
  width: 1000px;
}

.author {
  text-align: right;
  padding-top: 20px;
  font-weight: bolder;
}

.quote-background {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
}

.sign-up {
  background-color: #3882f6;
  width: 70%;
  margin: 0 auto;
  color: #f9faf8;
  border-radius: 12px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  font-size: 24px;
}

.sign-up-heading {
  font-weight: bold;
  padding-left: 90px;
}

.sign-up-text {
  padding-left: 90px;
}

.sign-up-button > button {
  border: solid white 2px;
  border-radius: 6px;
  background-color: #3882f6;
  color: #f9faf8;
  margin-left: 600px;
  padding: 12px 50px;
  vertical-align: bottom;
  margin-top: 4px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
}

.copy-right {
  text-align: center;
  background-color: #1f2937;
  padding: 80px 0;
  color: #f9faf8;
  font-size: x-large;
}